@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Roboto", sans-serif;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2d2d2d;
  }

  .main-block {
    background: url(../image/second-background.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
  }

  .header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    transition: all .3s ease;
    background: #1d1d1b45;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
  }

  .money-dropdown select {
    background: #F2F2F2;
    color: #1D1D1B;
    font-size: inherit;
    margin: .1em;
    padding: .2em;
    padding-right: 0.5em;
    border: 0;
    text-indent: 0.01px;
    border: 2px solid black;
    text-overflow: '';
    -webkit-appearance: button;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    padding-top: 45vh;
  }

  .main-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 3vh;
  }

  .main-slogan p {
    margin: 0;
  }

  .slogan-separator {
    width: 89px;
    height: 2px;
    background: #FFFFFF;
    margin: 1vh 0;
    margin-left: 3vh;
  }

  .pre-slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #ffffff;
    opacity: 0.8;
    margin-left: 3vh;
  }

  .pre-slogan p {
    margin: 0;
  }

  .slogan-list {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.8;
    list-style-image: url("../image/marker.svg");
  }

  .slogan-list br {
    display: none;
  }

  .download {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 7vh;
    padding-left: 5vh;
  }


  .download span {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .links div {
    width: 1px;
    height: 24px;
    background: #666666;
    mix-blend-mode: normal;
    opacity: 0.4;
  }

  .links {
    display: flex;
    padding-top: 2vh;
    padding-left: 1vh;
  }

  .links * {
    margin-right: 16px;
  }

  .buy-body {
    display: flex;
    flex-direction: column;
    padding: 0 2vh;
    margin: 0 2vh;
    background: linear-gradient(317.5deg, rgba(0, 168, 142, 0.4) 66.18%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;
  }

  .left-block {
    display: flex;
  }

  .product {
    display: flex;
  }

  .product img {
    width: 20%;
  }

  .product-name {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #1D1D1B;
  }

  .reviews {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #1D1D1B;
  }

  .grouper-for-flex {
    padding-left: 2vh;
  }

  .rating {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    font-size: 30px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
  }

  .rating.rating-sending {
    opacity: 0.2;
  }

  .rating.rating-set .rating-active,
  .rating.rating-set .rating-item {
    cursor: pointer;
  }

  .rating-body {
    position: relative;
  }

  .rating-body::before {
    content: '★★★★★';
    display: block;
  }

  .rating-active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .rating-active::before {
    content: '★★★★★';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
  }

  .rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .rating-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  .reviews {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #1D1D1B;
  }

  .centre-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }

  .left-separator {
    display: none;
  }

  .right-separator {
    display: none;
  }

  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid #ffffff81;
    border-bottom: 2px solid #ffffff81;
    padding: 1vh 0;
  }

  .sale {
    position: absolute;
    top: -181.5%;
    left: -3.5%;
    background: #8233FF;
    padding: 1vh;
  }

  .price p {
    margin: 0;
    padding: 0 3vh;
  }

  .old-price {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: #006D5C;
  }

  .new-price {
    font-weight: 700;
    font-size: 54px;
    line-height: 52px;
    align-items: center;
    text-align: right;
    letter-spacing: -0.03em;
    color: #1D1D1B;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    width: 90%;
  }

  .dropdown select {
    width: 100%;
    background-color: #1abc9c;
    color: #1D1D1B;
    ;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    border: 2px solid black;
    text-overflow: '';
    -webkit-appearance: button;
  }

  .right-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .buy-btn {
    background: #FF3748;
    border-radius: 3px;
    width: 90%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2vh;
  }

  .cybersecurity {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
    background: linear-gradient(170.56deg, rgba(126, 255, 51, 0.4) 32.98%, rgba(35, 209, 174, 0.4) 59.89%), #23D1AE;
  }

  .cybersecurity-left-block {
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    margin: 0;
    width: 100%;
    clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 0);
    padding-bottom: 15%;
  }

  .cybersecurity-slogan-block {
    padding-left: 10%;
  }

  .cybersecurity-header {
    display: none;
  }

  .cybersecurity-slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #444444;
  }

  .cybersecurity-preslogan {
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    color: #444444;
  }

  .cybersecurity-slogan-list {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #444444;
    list-style-image: url("../image/marker.svg");
    padding-left: 10%
  }


  .cybersecurity-centre-block img {
    display: none;
  }

  .cybersecurity-rigth-block {
    background: linear-gradient(98.43deg, rgba(29, 29, 27, 0.409) -45.31%, #1D1D1B 57.89%),
      linear-gradient(180deg, rgba(29, 29, 27, 0.441) -3.51%, #1d1d1ba9 92.79%),
      linear-gradient(158.18deg, #00A88E 0%, rgba(1, 50, 35, 0.604) 100%);
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
  }

  .cybersecurity-rigth-block * {
    padding-right: 5%;
  }

  .rigth-block-slogan {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 20%;
  }

  .rigth-block-preslogan {
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    text-align: right;
    color: #FFFFFF;
  }

  .rigth-block-test {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

  .rigth-block-test p {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    color: #23D1AE;
  }

  .group-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group-logo a {
    padding-bottom: 1vh;
  }

  .one-logo {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .one-logo span {
    margin: 5px;
    color: #FFFFFF;
  }

  .connector {
    padding-left: 2vh;
    width: 11px;
  }

  .sticky-header {
    position: sticky;
    top: 0;
  }

  .sticky-buy-none{
    display: none;
  }

  .sticky-buy-body {
    background: linear-gradient(317.5deg, rgba(0, 168, 142, 0.4) 66.18%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;
    margin: 3vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:-webkit-sticky; 
    position:sticky; 
    bottom:0;
    opacity: 0;
    animation: aniNew 0.5s forwards;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
  }

  .info * {
    padding: 1vh 1vh;
    margin: 0;
  }

  .produc-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #1D1D1B;
  }

  .product-price{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  .product-devices{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  .product-btn {
    background: #FF3748;
    border-radius: 3px;
    width: 78px;
    height: 48px;
    margin: 1vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

  }

  @keyframes aniNew {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
